<%- include("../partials/userHeader") %>

<div class="mainClass">

  <h1>Welcome to Exam Center</h1>

  <a type="button" class="btn btn-primary btn-lg btnMan" href="/registration">Register</a>


  <a type="button" class="btn btn-primary btn-lg btnMan" href="/login">Login</a>


</div class="mainClass"><!-- End #main -->

<%- include ('../partials/userFooter.ejs') %>